*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: lightgray;
}

table {
    font-family: 'Inconsolata', sans-serif;
}

th, td {
    color: #000;
    text-align: center !important;
}

.mdl-data-table td, .mdl-data-table td .mdl-data-table__select {
    border: 1px solid;
}

.mdl-layout__content {
    padding: 10px 20px !important;
}

.color-red {
    background-color: lightcoral;
}

.center {
    text-align: center;
}

.color-blue {
    background-color: lightseagreen;
}


.color-green {
    background-color: lightgreen;
}

.indian {
    background-image: linear-gradient(0deg, #138808 33%, #ffffff 33%, #ffffff 66%, #FF9933 66% );
    color: red;
}

th.main-head {
  position: sticky;
  top: 0px;
  color: #fff;
  background: red;
}

.table thead th {
    vertical-align: top;
}

.page-content {
    text-align: center;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-text {
    font-size: 2rem;
    flex-basis: 60%;
}

.box-image {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.about-content > * {
    width: 90%;
}

.icons {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.icons li a img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: inline-block;
}