{% extends 'base.html' %}

{% block content %}
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab install-btn">
    <i class="material-icons">add</i>
  </button>
  <main class="mdl-layout__content">
    <div class="page-content">

      <ul class="demo-list-two mdl-list world-data">
        
      </ul>
      <!-- <h3>Sorry</h3> -->
      <div class="error"></div>
      <div class="table-responsive">
        <table class="table-bordered table-dark mdl-js-data-table mdl-data-table">
          <caption>Stay Safe | Stay Home</caption>
          <thead>
            <tr class="bg-danger">
              <th scope="col" class="main-head mdl-data-table__cell--non-numeric">Country</th>
              <th scope="col" class="main-head mdl-data-table__cell--non-numeric">Total Confirmed</th>
              <th scope="col" class="main-head mdl-data-table__cell--non-numeric">Active Cases</th>
              <th scope="col" class="main-head mdl-data-table__cell--non-numeric">New Confirmed</th>
              <th scope="col" class="main-head mdl-data-table__cell--non-numeric">Total Deaths</th>
              <th scope="col" class="main-head mdl-data-table__cell--non-numeric">New Deaths</th>
              <th scope="col" class="main-head mdl-data-table__cell--non-numeric">Total Recovered</th>
              <th scope="col" class="main-head mdl-data-table__cell--non-numeric">New Recovered</th>
            </tr>
          </thead>
          <tbody id="corona-data">


          </tbody>
        </table>
      </div>

    </div>
  </main>

{% endblock content %}