{% extends 'base.html' %}

{% block content %}
<h1 class="display-1 indian">Corona Virus</h1>

<div class="world-data">

</div>


<form id="table-search-form" class="form" onsubmit="return false;">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
</form>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-dark table-sm">
    <caption>Stay Safe | Stay Home</caption>
      <thead>
        <tr class="bg-danger">
          <th scope="col" class="main-head">Country</th>
          <th scope="col" class="main-head">Total Confirmed</th>
          <th scope="col" class="main-head">Active Cases</th>
          <th scope="col" class="main-head">New Confirmed</th>
          <th scope="col" class="main-head">Total Deaths</th>
          <th scope="col" class="main-head">New Deaths</th>
          <th scope="col" class="main-head">Total Recovered</th>
          <th scope="col" class="main-head">New Recovered</th>
          <th scope="col" class="main-head">Timing</th>
        </tr>
      </thead>
      <tbody id="corona-data">
      </tbody>
    </table>
</div>
{% endblock content %}